In [1]:
#as a newly employed developer/programmer, our first task is to develop a student management system capable of 
#accepting, searching,
#displaying, updating, and archiving student records. with this goal in mind, how would you proceed to ensure the system's
#functionality and security?

In [1]:
import pymysql

In [9]:
mydb=pymysql.connect(
    host= 'localhost',
    port=3306,
    user='root',
    password= '1Lollipop.'
)
mycursor=mydb.cursor()

In [11]:
mycursor.execute('create table students(studentid int primary key not null, name varchar(255) not null, studentage int not null, studentgender varchar(50) not null, dob date not null, address text not null, guardian varchar(255) not null, guardiancontact varchar(50) not null)')
mycursor.execute('show columns from students')
for x in mycursor:
    print(x)

OperationalError: (1050, "Table 'students' already exists")

In [11]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('new_schema',)
('performance_schema',)
('sakila',)
('sys',)
('testing',)
('world',)

In [12]:
mycursor.execute('create database primeacademy')
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('new_schema',)
('performance_schema',)
('primeacademy',)
('sakila',)
('sys',)
('testing',)
('world',)

In [ ]:
studentid
name
studentage
studentgender
dob
address
guardian
guardiancontact

In [13]:
#to create database start with this code then execute
mydb=pymysql.connect(
    host= 'localhost',
    port=3306,
    user='root',
    password= '1Lollipop.',
    database= 'primeacademy'
)
mycursor=mydb.cursor()

In [20]:
#columnname, id, constraints
#define a function for creating each column mycursor.execute
#%s would serve as placeholder each for the number of queries, ie 8 queries, 8 placeholders
def acceptrecord():
    studentid= int(input('Enter student ID:'))
    name= input('Enter student name:')
    studentage=int(input('Enter student age:'))
    studentgender=input('Enter student gender (Male/Female/Other):')
    dob=input('Enter student date of birth (YYYY-MM-DD):')
    address=input('Enter student address:')
    guardian=input('Enter guardian name:')
    guardiancontact=input('Enter guardian contact:')
                   
    query= 'insert into students(studentid,name,studentage,studentgender,dob,address,guardian,guardiancontact)values(%s,%s,%s,%s,%s,%s,%s,%s)'               
    mycursor.execute(query,(studentid,name,studentage,studentgender,dob,address,guardian,guardiancontact))
    mydb.commit()
    print('Record inserted successfully...')
    
def search_records():
        studentid= int(input('Enter search ID:'))
        query='select * from students where studentid= "%s"' 
        mycursor.execute(query,(studentid,))
        result=mycursor.fetchall()
        if len(result)==0:
            print('Record not found')
        else:
            for x in result:
                print(x)
def display_records():
    mycursor.execute('select * from students')
    for x in mycursor:
        print(x)
        
def update_records():
    studentid= int(input('Enter ID to be updated:'))
    column= input('Enter the column to be updated:')
    newval= input('Enter the new value:')
    query=f'update students set {column} =%s where studentid= %s'
    mycursor.execute(query,( newval, studentid))
    mydb.commit()
    print('record update successful...')
    
    
def archive_records():
    studentid= int(input('Enter ID to be deleted:'))
    query= 'delete from students where studentid=%s'
    mycursor.execute(query,(studentid,))
    mydb.commit()
    print('Record Archived Successfully...')
    
def main():
    print('Welcome Admin')
    print('Operation list [Accept, Display, Search, Update, Archive, Logout]')
    operation=True
    while operation:
        option=input('Select Operation:')
        if option == 'Accept'.lower():
            acceptrecord()
        elif option =='Display'.lower():
            display_records()
        elif option =='Search'.lower():
            search_records()    
        elif option =='Update'.lower():
            update_records()
        elif option =='Archive'.lower():
            archive_records()    
        elif option =='Logout'.lower():
            operation= False 
            print('OPERATION TERMINATED......')
            break

In [19]:
main()

Welcome Admin
Operation list [Accept, Display, Search, Update, Archive, Logout]
Select Operation:search
Enter search ID:1
(1, 'hfhf hdbd', 12, 'other', datetime.date(2000, 2, 10), 'hdvjsjnsn 6g wuse', 'hdbjks gdb', '02135545554')
Select Operation:logout
OPERATION TERMINATED......

In [21]:
main()

Welcome Admin
Operation list [Accept, Display, Search, Update, Archive, Logout]
Select Operation:update
Enter ID to be updated:1
Enter the column to be updated:address
Enter the new value:wuse zone 4
record update successful...
Select Operation:archive
Enter ID to be deleted:1
Record Archived Successfully...
Select Operation:logout
OPERATION TERMINATED......