In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [2]:
#When looping through a dictionary, the return value are the keys of the dictionary,
#but there are methods to return the values as well.
for x in thisdict:
  print(x)

brand
model
year

In [3]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [4]:
#anoher method to return value
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [5]:
#another method to return keys
for x in thisdict.keys():
  print(x)

brand
model
year

In [6]:
#Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [49]:
numNames = { 1:'One', 2: 'Two', 3: 'Three'}

for pair in numNames.items():
    print(pair)

(1, 'One')
(2, 'Two')
(3, 'Three')

In [8]:
#nested dictionary
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
#access items in nested dictionaries
print(myfamily["child2"]["name"])

Tobias

In [10]:
print(myfamily["child3"]["year"])

2011

In [13]:
familar_= myfamily.copy()
print(familar_)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [14]:
familar_.get(chlid2)

NameError: name 'chlid2' is not defined

In [16]:
for x in familar_:
    print (x)

child1
child2
child3

In [17]:
for x in familar_:
    print (familar_[x])

{'name': 'Emil', 'year': 2004}
{'name': 'Tobias', 'year': 2007}
{'name': 'Linus', 'year': 2011}

In [20]:
#dictionary.get(keyname, value)

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [21]:
p= myfamily.get("child1")
print(p)

{'name': 'Emil', 'year': 2004}

In [23]:
print(myfamily["child1"])

{'name': 'Emil', 'year': 2004}

In [24]:
#return value of something that doesnt exist
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("price", 15000)

print(x)

15000

In [25]:
#dictionary.update(iterable)
car.update({"price": 15000})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'price': 15000}

In [26]:
#dictionary.values()
car.values()

dict_values(['Ford', 'Mustang', 1964, 15000])

In [27]:
x = car.values()
                
car["year"] = 2018

print(x)

dict_values(['Ford', 'Mustang', 2018, 15000])

In [5]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [29]:
a=30
b=50
if a>b:
    print("a is greater than b")
else:
    print("a is less than b")

a is less than b

In [9]:
word='python'
for char in 'python':
    print(char)

p
y
t
h
o
n

In [18]:
word='python'
for char in 'python':
(word*3)

IndentationError: expected an indented block after 'for' statement on line 2 (3644918842.py, line 3)

In [31]:
a=30
b=50
if a>b:
    print("a is greater than b")
elif b>a:
    print("a is less than b")

a is less than b

In [33]:
a=30
b=50
if a>b:
    print("a is greater than b")
elif a>=b:
    print("a is less than b")
else:
    print("none of these apply")

none of these apply

In [36]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [37]:
x = 41

if x > 10:
    print("Above ten,")
if x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

Above ten,
and also above 20!

In [38]:
x = 41

if x > 10 and x > 20:
    print("Above ten, and also above 20!")
else: 
    print("but not above 20.")

Above ten, and also above 20!

In [39]:
x = 41

if x > 10 and x > 20:
    print("Above ten, \nand also above 20!")
else: 
    print("but not above 20.")

Above ten,
and also above 20!

In [40]:
x = 41

if x > 10:
    print("Above ten,")
elif x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

Above ten,

In [42]:
a = 33
b = 200

if b > a:
    pass

In [43]:
import operator

n=5+5  
print(n)

n=operator.add(5, 10)
print(n)

n=operator.__add__(5, 20)
print(n)

10
15
25

In [44]:
x = 11; y = 3
print(x % y)

2

In [46]:
x = 41
a=2

if x*a < 10:
    print("Above ten,")
if x < 20:
    print("and also above 20!")
print("but not above 20.")

but not above 20.

In [47]:
price = 100

if price >= 100:
    print("price is greater than 100")

if price == 100:
    print("price is 100")

if price < 100:
    print("price is less than 100")

price is greater than 100
price is 100

In [48]:
price = 100

if price >= 100:
    print("price is greater than 100")

elif price == 100:
    print("price is 100")

if price < 100:
    print("price is less than 100")

price is greater than 100